.benefitsBar {
    margin-top: 15px;

    &--title {
        text-align: center;        
        margin-bottom: 16px;

        p {
            font-family: "Titillium Web", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 24.34px;
            color: #353535;
        }
    }

    &-container {
        display: flex;
        max-width: 1920px;
        margin: 0 auto;
        justify-content: center;
        gap: 15px;

        @media(max-width: 1375px) {
            gap: 10px;
        }

        @media(max-width: 1024px) {
            overflow: auto;
            width: 95%;
            padding: 0 20px;
            column-gap: 20px;
            overflow-x: auto;
            justify-content: flex-start;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &--item {
            max-width: 308px;
            height: 64px;
            display: flex !important;
            align-items: center;
            gap: 22px;
            border-radius: 4px;

            background-color: #EFEFEF;
            padding: 11px 27px;

            @media(max-width: 1375px) {
                gap: 15px;
            }

            @media(max-width: 1024px) {
                width: max-content;
                min-width: fit-content;
                padding: 11px 75px 11px 26px;

                &:last-child {
                    padding: 11px 40px 11px 26px;
                }
            }

            @media(max-width: 350px) {
                padding: 11px 35px 11px 26px;

                &:last-child {
                    padding: 11px 15px 11px 26px;
                }
            }

            &__icon {
                width: 32px;
                height: 32px;
            }

            &__content {
                &-text {
                    font-family: "Titillium Web", sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21.29px;
                    color: #353535;
                }

                &-subText {
                    font-family: "Titillium Web", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18.25px;
                    color: #353535;
                }
            }
        }
    }
}